PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "migrations" ("id" integer primary key autoincrement not null, "migration" varchar not null, "batch" integer not null);
INSERT INTO migrations VALUES(1,'0001_01_01_000000_create_users_table',1);
INSERT INTO migrations VALUES(2,'0001_01_01_000001_create_cache_table',1);
INSERT INTO migrations VALUES(3,'0001_01_01_000002_create_jobs_table',1);
CREATE TABLE IF NOT EXISTS "users" ("id" integer primary key autoincrement not null, "name" varchar not null, "email" varchar not null, "email_verified_at" datetime, "password" varchar not null, "remember_token" varchar, "created_at" datetime, "updated_at" datetime, "role" varchar not null default 'promoter', "whatsapp" varchar);
INSERT INTO users VALUES(1,'Admin Boss','admin@bosgroup.com',NULL,'$2y$12$7RfPzk8sPSI.72UHMynitemMGQczOzkbTOw8OZYYCdbXCyyRDCsBS',NULL,'2026-05-02 09:37:47','2026-05-02 09:37:47','admin',NULL);
INSERT INTO users VALUES(2,'Promoter One','promoter@example.com',NULL,'$2y$12$1.BhkPGX3G55XBvSPeZ17Oo.Jz4Cb.1n0Tsd2TlMKnbmrU5bEFFEu',NULL,'2026-05-02 09:37:47','2026-05-02 09:37:47','promoter',NULL);
CREATE TABLE IF NOT EXISTS "password_reset_tokens" ("email" varchar not null, "token" varchar not null, "created_at" datetime, primary key ("email"));
CREATE TABLE IF NOT EXISTS "sessions" ("id" varchar not null, "user_id" integer, "ip_address" varchar, "user_agent" text, "payload" text not null, "last_activity" integer not null, primary key ("id"));
INSERT INTO sessions VALUES('7DnQdS5rWaa8ElBOl9kkBiMMSmzoXjCXbTALuSC6',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36','YTozOntzOjY6Il90b2tlbiI7czo0MDoickgyc29zWnVWckFmSVUxbFpFYXhuRTR6djByRG05S21qdEpBTk16QiI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMCI7czo1OiJyb3V0ZSI7Tjt9fQ==',1777719021);
INSERT INTO sessions VALUES('cS3HljkBHGLV8uJHTa00WAUuDJGE5COXcAHw6KBs',2,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36','YTo0OntzOjY6Il90b2tlbiI7czo0MDoidDVySlpHcWhCVEdPcTZtRUtDUEZValZ5Nk5TWHhYbkxURHhxM0FRYSI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6Mjp7czozOiJ1cmwiO3M6Mjk6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMC90aWNrZXRzIjtzOjU6InJvdXRlIjtzOjEzOiJ0aWNrZXRzLmluZGV4Ijt9czo1MDoibG9naW5fd2ViXzU5YmEzNmFkZGMyYjJmOTQwMTU4MGYwMTRjN2Y1OGVhNGUzMDk4OWQiO2k6Mjt9',1777722460);
CREATE TABLE IF NOT EXISTS "cache" ("key" varchar not null, "value" text not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "cache_locks" ("key" varchar not null, "owner" varchar not null, "expiration" integer not null, primary key ("key"));
CREATE TABLE IF NOT EXISTS "jobs" ("id" integer primary key autoincrement not null, "queue" varchar not null, "payload" text not null, "attempts" integer not null, "reserved_at" integer, "available_at" integer not null, "created_at" integer not null);
CREATE TABLE IF NOT EXISTS "job_batches" ("id" varchar not null, "name" varchar not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text, "cancelled_at" integer, "created_at" integer not null, "finished_at" integer, primary key ("id"));
CREATE TABLE IF NOT EXISTS "failed_jobs" ("id" integer primary key autoincrement not null, "uuid" varchar not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" datetime not null default CURRENT_TIMESTAMP);
CREATE TABLE IF NOT EXISTS "websites" ("id" integer primary key autoincrement not null, "user_id" integer not null, "name" varchar not null, "url" varchar not null, "is_active" tinyint(1) not null default '1', "created_at" datetime, "updated_at" datetime, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO websites VALUES(1,2,'adminku','https://nexplay88.xyz',1,'2026-05-02 10:06:53','2026-05-02 10:06:53');
CREATE TABLE IF NOT EXISTS "website_requests" ("id" integer primary key autoincrement not null, "user_id" integer not null, "name" varchar not null, "url" varchar not null, "status" varchar not null default 'pending', "admin_note" text, "created_at" datetime, "updated_at" datetime, "ticket_number" varchar, "description" text, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO website_requests VALUES(1,2,'adminku','https://nexplay88.xyz','approved',NULL,'2026-05-02 10:01:59','2026-05-02 10:06:53',NULL,NULL);
CREATE TABLE IF NOT EXISTS "ticket_messages" ("id" integer primary key autoincrement not null, "ticket_id" integer not null, "user_id" integer not null, "message" text not null, "is_admin_reply" tinyint(1) not null default '0', "created_at" datetime, "updated_at" datetime, foreign key("ticket_id") references "tickets"("id") on delete cascade, foreign key("user_id") references "users"("id") on delete cascade);
INSERT INTO ticket_messages VALUES(1,1,1,'sudah oke ya pak',1,'2026-05-02 11:17:21','2026-05-02 11:17:21');
CREATE TABLE IF NOT EXISTS "tickets" ("id" integer primary key autoincrement not null, "user_id" integer not null, "website_id" integer, "subject" varchar not null, "description" text not null, "priority" varchar not null default ('medium'), "status" varchar not null default ('open'), "created_at" datetime, "updated_at" datetime, "ticket_number" varchar, "attachment" varchar, "assigned_to_id" integer, foreign key("website_id") references websites("id") on delete set null on update no action, foreign key("user_id") references users("id") on delete cascade on update no action, foreign key("assigned_to_id") references "users"("id") on delete set null);
INSERT INTO tickets VALUES(1,2,1,'Need Terminal','test masalah','medium','closed','2026-05-02 10:52:54','2026-05-02 11:17:21','TKT-856B02F9',NULL,NULL);
INSERT INTO tickets VALUES(2,2,1,'Transaksi Claim Gaji','aaaa','medium','open','2026-05-02 11:28:07','2026-05-02 11:28:07','TKT-69EC32C8','attachments/R6RDUdDY2lNQkmmv0yzWqibKLXIBd5AyCdW39nFh.png',NULL);
INSERT INTO tickets VALUES(3,2,1,'Transaksi Claim Gaji','asli','medium','open','2026-05-02 11:30:48','2026-05-02 11:30:48','TKT-E0B1BFF7','attachments/LhxwxLi8BrMmAE3CYeAi31fL2mDI4vlUF2p9QPJN.png',NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('migrations',13);
INSERT INTO sqlite_sequence VALUES('users',2);
INSERT INTO sqlite_sequence VALUES('website_requests',1);
CREATE UNIQUE INDEX "users_email_unique" on "users" ("email");
CREATE INDEX "sessions_user_id_index" on "sessions" ("user_id");
CREATE INDEX "sessions_last_activity_index" on "sessions" ("last_activity");
CREATE INDEX "cache_expiration_index" on "cache" ("expiration");
CREATE INDEX "cache_locks_expiration_index" on "cache_locks" ("expiration");
CREATE INDEX "jobs_queue_index" on "jobs" ("queue");
CREATE UNIQUE INDEX "failed_jobs_uuid_unique" on "failed_jobs" ("uuid");
CREATE UNIQUE INDEX "website_requests_ticket_number_unique" on "website_requests" ("ticket_number");
CREATE UNIQUE INDEX "tickets_ticket_number_unique" on "tickets" ("ticket_number");
COMMIT;
